body {
    background-color: gray;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: cyan;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.tabuada-corpo {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    background-color: black;
    margin-top: 5%;
    color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
}

.tabuada-corpo h1 {
    text-align: left;
}

.tabuada-corpo input {
    width: 50px;
    align-self: left;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}

.tabuada-corpo button {
    width: auto;
    font-size: 1.5rem;
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

.tabuada-corpo button:hover {
    background-color: black;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.tabuada-corpo h2 {
    text-align: left;
    color: whitesmoke;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    line-height: 1.3;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-weight: 400;
}


/* remover setinhas input number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}